.FlatButton {
    color: #BC4C4E;
    border: none;
    background: transparent;
    box-sizing: border-box;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
}

.FlatButton:hover {
    background: rgba(188, 76, 78, 0.1);
}

.FlatButton:focus {
    outline: none;
    background: rgba(188, 76, 78, 0.1);
}

.FlatButton:active {
    background: rgba(188, 76, 78, 0.3);
}
