.AddImageModal {
    background: #FFF;
    width: 430px;
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.AddImageModalHeader {
    font-size: 22px;
    font-weight: bold;
    margin-top: 48px;
    margin-bottom: 39px;
}

.AddImageModalFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 290px;
    padding-left: 6px;
    padding-right: 2px;
    box-sizing: border-box;
}

@media only screen and (max-width : 700px) {
    .AddImageModal {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .AddImageModalHeader {
        margin-top: 0;
    }

    .AddImageModalFooter {
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 120px;
    }
}
