.logo {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.logo-image {
    background: #000;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: inline-block;
    margin-right: 5px;
}
